
/* FONTS */
/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/ibm-plex-sans-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/ibm-plex-sans-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-sans-700 - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/ibm-plex-sans-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/ibm-plex-sans-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* COLOR PALETTE */
:root {
    --color-light: #fcfaf9;
    --color-dark: #191826;
    --color-cyan: #66e2dc;
    --color-red: #fa7453;
    --color-yellow: #ffb964;
}

/* Mobile first approach */
/* GLOBAL STYLES & LAYOUT*/
*,
*::after, 
*::before {
    box-sizing: border-box;
}

body {
    background-image: url('./assets/img/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-position: 9px -254px;
    margin: 0 auto;
    font-family: 'ibm-plex-sans-regular', 'IBM Plex Sans';
    font-weight: 400;
    color: var(--color-dark);
}

.site-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.content-wrapper {
    margin: 0 24px;
}

/* TEXT STYLES */
h1, h2 {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
}

p {
    line-height: 26px;
}

.inline-email {
    font-weight: bold;
}

/* BUTTONS */
.btn {
    cursor: pointer;
    margin: 0 auto;
    border: none;
    border-radius: 12px;
    padding: 1em 2em;
    color: var(--color-dark);
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
}

.btn-stack .btn + .btn {
    margin-top: 8px;
}


/* SITE SECTIONS */
/* HEADER */
.site-logo {
    margin: 2em 0;
}

/* HERO SECTION */
.hero-section h1 {
    font-size: 40px;
    line-height: 48px;
}


/* PRODUCT SECTION */
.product-section {
    position: relative;
    margin: 0 calc((100% - 100vw)/2);
}

/* ILLUSTRATION */
.product-section__illustration {
    background-color: var(--color-dark);
    background-image: url('./assets/img/bg-pattern-2.svg');
    background-size: 280px 420px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 10em;
    height: 600px;
    border-radius: 12px;
    text-align: center;
}

.product-section__illustration img {
    height: 430px;
    margin-top: -5em;
}

/* CARD */
.product-section__card {
    position: relative;
    background-color: var(--color-red);
    border-radius: 12px;
    margin-top: -220px;
    padding: 2.3em;
    color: var(--color-light);
}

.product-section__card h2 {
    font-size: 32px;
    margin-top: 0;
}

.product-section__card p {
    font-size: 18px;
    line-height: 28px;
}

.card__price-section {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 40px 0;
}

.price-section__value {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
}

.price-section__text {
    font-size: 20px;
    line-height: 32px;
}

/* CARD BUTTONS */
.product-section__card .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.btn-ios-download {
    background-color: var(--color-dark);
    color: var(--color-light);
    transition: .15s ease-in;
}
.btn-ios-download:hover, 
.btn-ios-download:focus {
    background-color: var(--color-cyan);
}

.btn-android-download {
    background-color: var(--color-light);
    color: var(--color-dark);
    transition: .15s ease-in;
}
.btn-android-download:hover, 
.btn-android-download:focus {
    background-color: var(--color-yellow);
}


/* FOOTER */
.footer {
    margin-bottom: 80px;
}

.footer__site-logo {
    margin-top: 64px;
    margin-bottom: 12px;
}

.footer__content {
    display: block;
}

.content__text {
    margin-bottom: 64px;
}

.content__social-media-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.content__social-media-icons a:hover, 
.content__social-media-icons a:focus {
    fill: var(--color-red);
}


/* MEDIA QUERIES */
@media screen and (min-width: 568px) {

    /* GLOBAL SYLES & LAYOUT*/
    body {
        background-image: 
            url('./assets/img/bg-main-tablet.png');
        background-size: 
            auto;
        background-repeat: 
            no-repeat;
        background-position: 
            -404px -262px;
    }

    .site-wrapper {
        background-image: 
            url('./assets/img/bg-pattern-1.svg');
        background-size: 
            267px;
        background-repeat: 
            no-repeat;
        background-position: 
            calc(100% + 35px) -32px;
    }

    .content-wrapper {
        margin: 0 39px;
    }

    /* HEADER */
    .site-logo {
        margin-top: 62px;
    }

    /* HERO SECTION */
    .hero-section {
        width: 514px;
    }

    .hero-section h1 {
        font-size: 64px;
        line-height: 64px;
    }

    .hero-section p {
        font-size: 18px;
        line-height: 28px;
    }

    /* PRODUCT SECTION */
    /* ILLUSTRATION */
    .product-section {
        margin: 0 auto;
    }

    .product-section__illustration {
        margin-top: 15em;
        height: 600px;
        text-align: left;
        background-position: center -31px;
    }

    .product-section__illustration img {
        height: 556px;
        margin-top: -8em;
        margin-left: 10%;
    }


    /* CARD */
    .product-section__card {
        max-width: 400px;
        margin-left: auto;
        margin-right: 12%;
        margin-top: -440px;
        padding: 48px;
    }


    /* FOOTER */
    .footer__site-logo {
        margin-top: 87px;
        margin-bottom: 12px;
    }

    .footer__content {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .content__text {
        max-width: 400px;
    }

    .content__social-media-icons {
        display: flex;
        gap: 20px;
    }
}

@media screen and (min-width: 1024px) {
    /* BACKGROUNDS & GLOBAL STYLES & LAYOUT */
    body {
        background-image: 
            url('./assets/img/bg-main-desktop.png');
        background-size: 
            auto;
        background-repeat: 
            no-repeat;
        background-position: 
            -296px -262px;
    }

    .site-wrapper {
        background-image: 
            url('./assets/img/bg-pattern-1.svg');
        background-size: 
            312px;
        background-position: 
            100% -40px;
    }

    .content-wrapper {
        margin: 0 150px;
    }

    p {
        font-size: 20px;
        line-height: 34px;
    }

    /* HERO SECTION */
    .hero-section h1 {
        font-size: 80px;
        line-height: 88px;
    }
    
    .hero-section {
        width: 55%;
    }
    
    /* PRODUCT SECTION */
    .product-section__illustration {
        margin-top: 15em;
    }

    .product-section__illustration img {
        width: 280px;
    }
}

